#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
dist
node_modules
workFolder
*.tsx
yarn.lock
package-lock.json
cheatsheets
references
styles
CHANGELOG.md
CONTRIBUTING.md
LICENSE
README.md
.idea
build

src/boilerplate/game.js
src/boilerplate/game.js.map
src/boilerplate/objects/Button.js
src/boilerplate/objects/Button.js.map
src/boilerplate/scenes/mainScene.js
src/boilerplate/scenes/mainScene.js.map
